.volume-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  background-color: #484747;
  background-image: linear-gradient(to right, #f7567c, #f7567c);
  background-repeat: no-repeat;
  transition: background-size 0.2s ease;
  cursor: pointer;
}

/* Remove the thumb */
.volume-range.no-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
}

.volume-range.no-thumb::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}
